<html>
    <head>
        <title>
        <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <form id="new-form" action="/create-todolist" method="POST">  
            <h3> DESCRIPTION</h3>
            <input type="text" name="description" placeholder="What do you need to do?" >
      
      
            <h3>CATEGORY</h3>
            <label for="category">Choose a category:</label>
            <select name="category" id="category">
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="School">School</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Other">Other</option>
              </select>
            <h3>DUEDATE</h3>
            <input type="date" name="duedate">
            <button type="submit">ADD TASK</button>
        </form>
        
        
        <div>
           <form action="/delete-task" method="POST">
            <div class="button">
           
                <button type="submit"> DELETE TASKS</button>
            </div>
                        <% if(locals.Todo_list){%>
                              <% for(let i of locals.Todo_list){ %>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card">
                                                <div class="card-horizontal">
                                                   
                                                    <div class="card-body">
                                                       <input type="checkbox" value="<%= i._id %>" name="selecttodo">
                                 
                              <p>   <%= i.description %> </p>
                                 
                               <p>   <%= i.duedate %> </p>
                                  <div class="category">
                                    <p> <%= i.category %> </p>
                                </div>
                                
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
                              <%}%>
                      <%}else{%>
                            
                          <%}%>
               
        </div>
    </form>
    </body>
</html>